
body {font-family: Tahoma, Arial, sans-serif; background-image:url('madweave_stars_tile_small.png');}

p, ul, h1, h2, h3, h4, h5, h6 {font-family: Tahoma, Arial, sans-serif}

.location {font-family: Tahoma, Arial, sans-serif; color: teal}
.button {font-family: Tahoma, Arial, sans-serif; color: crimson; font-weight:bold}